


    {% include "./title.html" %}
    {% load bootstrap4 %}
    
    <style>
    
        .card {
            width: 100%; 
            max-width: 400px; 
            margin: 0 auto; 
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            border-radius: 10px;
            border: 1px solid #ddd; 
        }
    

        .row.justify-content-center {
            display: flex;
            justify-content: center;
        }
    </style>
    
    {% block content %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Register a New Dog</h2>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}