{% include "./title.html" %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <div class="container">
        <h1>Frequently Asked Questions</h1>

            <h3>How do I adopt a pet?</h3>
            <p>To adopt a pet you can go to the pet page and then book a meeting with the shelter in charge.</p>

            <h3>How do i book an appointment?</h3>
            <p>Click on the pet of your selection and book a meeting after filling out your details</p>

    </div>
</body>
</html>